/*Allgemein*/
#wrapper {
	width: 100%;
	height: 100%;
	font-family: Arial;
}

header {
	width: 100%;
	height: 102px;
}

p {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.username{
	color:grey;
	font-size:30px;
	overflow: hidden;
	width:210px;
}

.usercont{
	float:left;
}

.logocont{
	width:150px;
	float:right;
}

#logout {
	margin-top: 5px;
	float: right;
}

.logo_small{
	width:150px;
	height:auto;
	float:right;
}

.logo {
	width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: 50px;
}

.center {
	margin: auto;
}

.button_s {
	width: 20px;
	height: 20px;
}

.button_m {
	width: 150px;
	height: 40px;
}

.button_l {
	width: 150px;
	height: 100px;
}

.button_100_100 {
	width: 100%;
	height: 100%;
}

.div25a {
	width: 25%;
	height: auto;
	float: left;
}

.div40 {
	width: 40%;
	height: 100%;
}

.div40a {
	width: 40%;
	height: auto;
}

.div4050 {
	width: 40%;
	height: 50%;
}

.div50 {
	width: 50%;
	height: 100%;
}

.div50a {
	width: 50%;
	height: auto;
	float: left;
}

.div5050 {
	width: 50%;
	height: 50%;
}

.div100 {
	width: 100%;
	height: 100%;
}

.div100a {
	width: 100%;
	height: auto;
}

/*Login*/
#login {
	border: solid 1px red;
	width: 70%;
	height: 100%;
	margin: auto;
	text-align: center;
	display: block;
}

fieldset {
	margin: auto;
	width: 30%;
}

label {
	display: block;
	float: left;
}

/*LEA-Manager Startbildschirm*/
#overview_panel{	
	margin:auto;
	text-align:center;
	width:50%;
	
}

#overview_button{
	float:right;
}

/*LEA hinzufügen*/
#addLeaDiv {
	width: 100%;
	height: 800px;
}

#addLeaForm {
	width: 50%;
	height: 100%;
	margin: auto;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#classes {
	width: 100%;
	height: 30%;
}

.LeaFormLeft {
	width: 40%;
	height: 100%;
	float: left;
}

.LeaFormRight {
	width: 40%;
	height: 100%;
	float: right;
}

#time {
	width: 100%;
	height: 5%;
	margin-top: 10%;
	text-align: left;
}

#from {
	margin-right: 20%;
}

#from, #till {
	width: 99%;
	height: auto;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

#milestones {
	width: 100%;
	height: 15%;
	margin-top: 10%;
	margin-bottom: 5%;
}

#ms_left, #ms_right {
	width: 50%;
	height: 100%;
	float: left;
}

#ms_list {
	width: 100%;
	height: 100%;
	margin: auto;
	float: left;
}

/*Team erstellen*/
#available {
	width: 40%;
	height: auto;
	text-align: left;
	float: left;
}

#selected {
	width: 40%;
	height: auto;
	text-align: left;
	float: right;
}

#addTeam {
	width: 60%;
	height: auto;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);	
}

#aStudents {
	float: left;
}

#move {
	width: 20%;
	height: auto;
	float: left;
}

#rStudents option {
	border: 1px solid black;
}

#submitTeam {
	margin-top: 5%;
	margin-bottom: 2%;
}

/*Team verwalten*/
#team_overview {
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#team_overview div table{
	margin: auto;
}

#log_div {
	padding-bottom: 5%;
}

/*Dozent Übersicht*/
#dlt{
	width: 50%;
	height: 50%;
	margin-top: 1%;
	
}
#LT{	
	font-size: 200%;
	
}

#dlb{
	width: 49.75%;
	height: 50%;
	margin-top: 1%;
	float: left;
	
	border-collapse: collapse;
}

#LB{
	font-size: 200%;	
	
}

#dtu{
	width: 50%;
	height: 50%;
	margin-top: 1%;
	float: left;
	
	border-collapse: collapse;
}
#TU{
	font-size: 200%;
	
}

.scroll{
	overflow: scroll;
	width: 90%;
	height: 90%;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
tr{
	height:6%;
}
table, th,td {
    border: 1px solid gray;
    border-collapse: collapse;	
}

table{
	width: 100%;
}

.smaller{
	width: 20%;
}


