/*Allgemein*/

#wrapper {
	width: 100%;
	min-width: 360px;
	height: 100%;
	font-family: Arial;
	display:block;
}

p {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.username{
	color:grey;
	font-size:30px;
	overflow: hidden;
	width:210px;
}

.usercont{
	float:left;
}

.logocont{
	width:150px;
	float:right;
}

#logout {
	margin-top: 5px;
	float: right;
}

.logo_small{
	width:150px;
	height:auto;
	float:right;
}

.logo {
	width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: 50px;
}

.button_s {
	
}

.button_m {
	width: 150px;
	height: 40px;
}

.button_l {
	
}

.button_100 {
	width:100%;
	height: 40px;
}

/*Login*/
#login {
	width: 70%;
	height: 100%;
	margin: auto;
	text-align: center;
	display: block;
}

fieldset {
	margin: auto;
	width: 30%;
	border:transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

label {
	display: block;
	float: left;
}

/*LEA-Manager Startbildschirm*/

#overview_panel{	
	margin:auto;
	margin-top:50px;
	text-align:center;
	width:50%;
	min-width:357px;
	display:block;
	padding:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.LEAcontainer{
	width:100%;
	height:400px;
	overflow-y:scroll;
}

.LEA{
	display:block;
	margin:5px;
	padding:5px;
}

.date{
	color:grey;
	font-size:20px;
}

/*Lea-Manager LEA-Übersicht*/

#lea_overview{
	margin:auto;
	margin-top:50px;
	
	width:50%;
	min-width:357px;
	display:block;
	padding:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	height: 700px;
}

.lea_title{
	font-size:30px;
	width:100%;
	border:1px solid black;
	text-align:center;
	float:left;
}

#bl, #br{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	margin:5px;
	height:290px;
}

#cul{
	width:46.5%;
	float:left;
	margin:5px;
	height:20px;
	text-align:left;
}

#ul{
	width:46.5%;
	float:left;
	overflow:scroll;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	margin:5px;
	height:290px;
}

#class_select{
	border:1px solid transparent;
	float:left;
	margin-bottom:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	width:100%;
}

#lea_overview table{
	margin-top:20px;
	border-collapse: collapse;
	width:100%;
}

#lea_overview table, #lea_overview th, #lea_overview td{
	border-bottom:1px solid grey;
}

#lea_overview td{
	font-size: 15px;
	text-align: left;
	height: 30px;
	vertical-align:middle;
	color:grey;
	padding:3px;
}
#lea_overview h4{
	margin:0px;
	padding:0px;
	text-align:center;
}

#ur{
	width:46.5%;
	float:right;
	padding-top:20px;
	height:270px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	margin:5px;

}

#autoform{
	margin:10px;
	padding:15px;
	height:50px;
}

#lea_overview input[name=automail]{
	width:35px;
	float:left;
}

#lea_overview input[name=days]{
	width:35px;
	float:left;
}

#bl{
	width:71.5%;
	float:left;
	overflow:scroll;
}

#teams_table{
	margin-top:20px;
	border-collapse: collapse;
	width:100%;
}

#br{
	width:21.5%;
	float:right;
	overflow:scroll;
}
